@page
@model string

<div class="row pt-5">
    <hr class="challenge-hr"/>
    <div class="col-md-6 col-sm-12">
        <img class="img-fluid about-image" src="~/images/Join.svg" width="496"/>
    </div>
    <div class="col-md-6 col-sm-12 text-md-left text-center vertical-center mt-3 pt-3">
        <h2 class="heading2 d-none d-md-block d-sm-none d-xs-none">Спечелете Купата</h2>
        <h3 class="heading3 d-sm-block d-md-none">Спечелете Купата</h3>
        <div class="body2 pt-3">
            Направете доброволчески клуб заедно с твоите съученици, организирайте различни инициативи и трупайте точки. В края на учебната година клубът с най-много точки грабва Купата на героите!
        </div>
        <div class="pt-4">
            <button type="button" data-toggle="modal" data-target="#participateModal" class="btn btn-heroes">Участвайте</button>
        </div>
    </div>
</div>