@using Piranha.Extend.Fields
<footer class="text-muted custom-footer">
    <div class="container">
        @{
            var currentSite = await WebApp.Site.GetContentAsync<HeroesCupSite>();
            var hasParnerLogos = currentSite.FooterContents.PartnerLogo1.HasValue ||
                                 currentSite.FooterContents.PartnerLogo2.HasValue ||
                                 currentSite.FooterContents.PartnerLogo3.HasValue ||
                                 currentSite.FooterContents.PartnerLogo4.HasValue ||
                                 currentSite.FooterContents.PartnerLogo5.HasValue ||
                                 currentSite.FooterContents.PartnerLogo6.HasValue;

            var partnerImages = new Dictionary<ImageField, StringField>();
            if (currentSite.FooterContents.PartnerLogo1 != null && currentSite.FooterContents.PartnerLogo1.HasValue)
            {
                partnerImages.Add(currentSite.FooterContents.PartnerLogo1, currentSite.FooterContents.PartnerUrl1.Value);
            }

            if (currentSite.FooterContents.PartnerLogo2 != null && currentSite.FooterContents.PartnerLogo2.HasValue)
            {
                partnerImages.Add(currentSite.FooterContents.PartnerLogo2, currentSite.FooterContents.PartnerUrl2.Value);
            }

            if (currentSite.FooterContents.PartnerLogo3 != null && currentSite.FooterContents.PartnerLogo3.HasValue)
            {
                partnerImages.Add(currentSite.FooterContents.PartnerLogo3, currentSite.FooterContents.PartnerUrl3.Value);
            }

            if (currentSite.FooterContents.PartnerLogo4 != null && currentSite.FooterContents.PartnerLogo4.HasValue)
            {
                partnerImages.Add(currentSite.FooterContents.PartnerLogo4, currentSite.FooterContents.PartnerUrl4.Value);
            }

            if (currentSite.FooterContents.PartnerLogo5 != null && currentSite.FooterContents.PartnerLogo5.HasValue)
            {
                partnerImages.Add(currentSite.FooterContents.PartnerLogo5, currentSite.FooterContents.PartnerUrl5.Value);
            }

            if (currentSite.FooterContents.PartnerLogo6 != null && currentSite.FooterContents.PartnerLogo6.HasValue)
            {
                partnerImages.Add(currentSite.FooterContents.PartnerLogo6, currentSite.FooterContents.PartnerUrl6.Value);
            }

        }
        @if (currentSite != null)
        {
            <div class="footer-top">
                <div class="footer-top-image">
                <img src="~/images/main-supporter-logo.png" alt="Mission Image">
                </div>
                <div class="footer-top-text">
                    @Html.Raw(currentSite.FooterContents.MainPartnerInfoBox.Value)
                </div>
            </div>
            @if (hasParnerLogos)
            {
                <div class="container-fluid">
                    <div class="row pt-4 pb-4 mt-4 mb-4">
                        @foreach (var image in partnerImages)
                        {
                            <div class="col-md-2 col-6 pt-3 pb-3 text-center">
                                <a href="@image.Value.Value" target="_blank">
                                    <img class="img-fluid" src="@Url.Content(image.Key.Media.PublicUrl)" width="120"/>
                                </a>
                            </div>
                        }
                    </div>
                </div>
            }
            <div class="footer-social">
                <div>
                    <div class="col-2 justify-content-md-end text-sm-center mr-1 ml-1">
                        <a href="https://www.facebook.com/TimeHeroes/" target="_blank">
                            <span class="icon icon-facebook"></span>
                        </a>
                    </div>
                    <div class="col-2 justify-content-md-end justify-content-sm-center mr-1 ml-1">
                        <a href="https://twitter.com/timeheroesorg?lang=en" target="_blank">
                            <span class="icon icon-twitter"></span>
                        </a>
                    </div>
                    <div class="col-2 justify-content-md-end justify-content-sm-center mr-1 ml-1">
                        <a href="https://www.youtube.com/channel/UC7l1t9MKG2uwcU1TXP7rhZQ" target="_blank">
                            <span class="icon icon-youtube"></span>
                        </a>
                    </div>
                    <div class="col-2 pr-0 justify-content-md-end justify-content-sm-center mr-1 ml-1" target="_blank">
                        <a href="https://www.instagram.com/time.heroes/?hl=en">
                            <span class="icon icon-instagram"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="col-md-10 col-sm-12 mt-2 d-none d-md-block pt-1 pb-1">Проект на <a class="underline-offset" href="https://timeheroes.org" target="_blank">TimeHeroes.org</a><span> | </span>Уеб дизайн и разработка <a class="underline-offset" href="https://saorsa.bg/" target="_blank">Саорса ООД</a><span> | </span><a class="underline-offset text-white" href="https://timeheroes.org/bg/pages/tocoop" target="_blank">Условия за ползване</a><span> | </span><a class="underline-offset text-white" href="/manager" target="_blank">Вход за координатори</a> <span> | </span><a class="underline-offset text-white" href="https://timeheroes.org/bg/pages/privacy-policy" target="_blank">Политика за поверителност</a></div>
                <div class="col-sm-12 d-sm-block d-md-none pt-1 pb-1">Проект на <a class="underline-offset" href="https://timeheroes.org" target="_blank">TimeHeroes.org</a></div>
                <div class="col-sm-12 d-sm-block d-md-none pt-1 pb-1">
                    <a class="underline-offset" href="https://timeheroes.org/bg/pages/tocoop" target="_blank">Условия за ползване</a>
                </div>
                <div class="col-sm-12 d-sm-block d-md-none pt-1 pb-1">Уеб дизайн и разработка <a class="underline-offset" href="https://saorsa.bg/" target="_blank">Саорса ООД </a> </div>
            </div>
        }
    </div>
</footer>