@model string


<div class="col-5 body2-bold ml-0">
    <div class="btn btn-share fb-share-button" id="fb-share-button">
        <span class="mr-1">Share</span>
        <i class="fa fa-facebook-f"></i>
    </div>
</div>

<div class="col-5 body2-bold ml-md-1 ml-3">
    <a class="btn btn-share" id="twitter-share-button"
       href="@Model">
        <span class="mr-1">Tweet</span>
        <i class="fa fa-twitter"></i>
    </a>
</div>