@model HeroesCup.Web.Models.Resources.ResourcesArchive

@{
    ViewBag.TypeId = Model.TypeId;
}

@section head {
    <partial name="~/Views/Shared/Partial/_TwitterMeta.cshtml" for="@Model.SocialNetworksMetaData"/>
    <partial name="~/Views/Shared/Partial/_FacebookMeta.cshtml" for="@Model.SocialNetworksMetaData"/>
}

<div class="main main-blurmt-md-5 pt-md-4 mt-5 pt-5" id="resources-main">
    <div class="container mt-md-4 pt-md-4">
        <div class="row pt-md-4 pb-4 pb-md-0">
            <div class="col-md-6 col-sm-12 vertical-center text-center text-md-left order-2 order-md-1 pt-4">
                <h2 class="heading2 d-none d-md-block d-sm-none d-xs-none">Търсите вдъхновение за отскок?</h2>
                <h3 class="heading3 d-sm-block d-md-none"> Търсите вдъхновение за отскок?</h3>
                <p class="body2">
                    Как да запалите нови герои? Как да поддържате мотивацията им? Как да организирате повече мисии заедно? Разгледайте и изтеглете готови материали, които ще ви помогнат да направите чудеса с вашия клуб.
                </p>
            </div>
            <div class="col-md-6 col-sm-12 order-md-1 order-md-2">
                <img src="~/images/illustrations/media.png"/>
            </div>
        </div>
        <hr/>

        @* Resource Posts *@
        @if (Model.Archive.Posts.Count > 0)
        {
            <partial name="~/Views/Resources/_ResourcesList.cshtml" for="@Model.Archive.Posts"/>
        }

        <hr/>
        <partial name="~/Views/Shared/Partial/_Challenge.cshtml" for="@Model.Title"/>
    </div>
</div>