@model StandardPage

@{
    ViewBag.Title = Model.Title;
    ViewBag.TypeId = Model.TypeId;
}

<div class="main mt-md-5 pt-md-4 mt-5 pt-4">
    <div class="container mt-md-5 pt-md-5">
        <div class="row justify-content-center">
            <div class="col-sm-10 page-body">
                @Html.DisplayFor(m => m.Blocks)
            </div>
        </div>
    </div>
</div>