@model BlogPost
@{
    ViewBag.Title = Model.Title;

    var archive = await WebApp.Api.Pages.GetByIdAsync(Model.BlogId);
}

<div class="main main-blurmt-md-5 pt-md-4 mt-5 pt-4">
    <div class="container mt-md-5 pt-md-5">
        <div class="row justify-content-center">
            <div class="col-sm-10 post-header">
                <h1>@Model.Title</h1>
                @if (Model.Tags.Count > 0)
                {
                    foreach (var tag in Model.Tags)
                    {
                        <span class="tag">
                            <a href="@archive.Permalink/tag/@tag.Slug">#@tag.Title</a>
                        </span>
                    }
                }
            </div>
        </div>
        @if (Model.Hero.PrimaryImage.HasValue)
        {
            <div class="row">
                <div class="col-sm post-header">
                    <img class="img-fluid" src="@Url.Content(Model.Hero.PrimaryImage.Resize(WebApp.Api, 1100, 400))">
                </div>
            </div>
        }
        <div class="row justify-content-center">
            <div class="col-sm-10 post-body">
                @Html.DisplayFor(m => m.Blocks)
            </div>
        </div>
    </div>
</div>