@model IEnumerable<HeroesCup.Web.Models.StoryViewModel>
@{
    var stories = Model.ToList();
}

@if (stories.Count > 0)
{
    <div class="row">
        @foreach (var story in stories)
        {
            <div class="col-sm-6 col-md-4 mt-md-4 pt-md-4 pt-3 mt-3">
                <div class="mission-body">
                    <a href="/story/@story.Mission.Slug">
                        <div class="img-container text-left">
                            <img class="img-fluid mission-img-list" src="/img/@story.HeroImageFilename"/>
                        </div>
                        <p class="body2 mt-4">Разказ за:</p>
                        <p class="mission-title body1-bold pr-md-4 pr-1">@story.Mission.Title</p>
                        <p class="body2 pr-md-5 pr-2">от Клуб "@story.ClubName"</p>
                    </a>
                </div>
            </div>
        }
    </div>
}